body{
    background-color: whitesmoke;
    font-family: 'Gill Sans', sans-serif;
    color: #4F2B3A;
    text-align: center;
}

a{
    text-decoration: none ;
    color: #4F2B3A;
}

.skills{
   line-height: 40px;
   font-size: 18px;
}

.descricao{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.destaque{
    font-size: 18px;  
    text-decoration: underline;  
}

.inprogress{
    font-style: italic;
    text-decoration:line-through;

}

.title{
    font-weight: bold;
    color: 	#00FF7F;
    font-size: 22px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.button{
    background-color: #11a36a;
    color:white;
    font-size: 15px;
    font-weight: bold;
    border-radius: 50px;
    padding: 15px 30px;
    line-height: 40px;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#foto{
    border-radius: 100px;
    height: 300px;
}

#nome{
    font-size: 36px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}