body{
    background-color: whitesmoke;
    font-family: 'Gill Sans', sans-serif;
    color: #4F2B3A;
}

a{
    text-decoration: none ;
    color: #4F2B3A;
}
.menu{
    display: inline-block;
}

.me{
    /*border: 3px solid red;*/
    padding-top: 50px;
    height: 400px;
}
.me img{
    float: left;
    margin-left: 30px;
    margin-right: 100px;
    margin-top: -50px;
    border: 4px solid salmon;
}

.me{
    /*border: 3px solid red;*/
    text-align: center;
}

.metext{
   /* border: 3px solid blue;*/
    text-align: justify;
    height: 300px;
}

.links{
    margin: 30px;
}

.links #linkedin{
    margin-right: 30px;
}


.skills{
   line-height: 40px;
   font-size: 18px;
}

.descricao{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.destaque{
    font-size: 18px;  
    text-decoration: underline;  
}

.inprogress{
    line-height: 40px;
    font-size: 18px;
    font-style: italic;
    text-decoration:line-through;

}

.title{
    clear:left;
    font-weight: bold;
    color: 	#00FF7F;
    font-size: 22px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.button{
    background-color: #11a36a;
    color:white;
    font-size: 15px;
    font-weight: bold;
    border-radius: 50px;
    padding: 15px 30px;
    line-height: 40px;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#foto{
    border-radius: 100px;
    height: 300px;
}

#nome{ 
    font-size: 36px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#indice{
    font-size: 32px;
}