body{
    background-color: white;
    font-family: 'Gill Sans', sans-serif;
    color: #4F2B3A;
}

a{
    text-decoration: none ;
    color: #4F2B3A;
}

ul{
   line-height: 40px;
}

.descricao{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.destaque{
    font-size: 18px;  
    text-decoration: underline;  
}

.inprogress{
    font-style: italic;
    text-decoration:line-through;

}

.title{
    font-weight: bold;
    color: 	#00FF7F;
}

